{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Dashboard | Assignments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/student_dashboard.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <style>
        
    </style>
</head>

<body>

    <div class="dashboard-wrapper">

        <header class="dashboard-header">
            <div>
                <h1>👨‍🎓 Welcome, {{user}}</h1>
                <p>Course: <span>{{course}}</span></p>
            </div>
        </header>
        
        <!-- pending and submitted assignments -->
        <section class="assignments-section">
            <h2>📌 Pending Assignments</h2>
            {% for assignment in assignments %}
            {% if assignment.id not in submitted_assignments_id %}
            
            <div class="assignment-grid">

                    <div class="assignment-card">

                        <div class="assignment-top">
                            <h3>{{assignment.title}}</h3>
                            <span class="status pending">Pending</span>
                        </div>

                        <p class="description">
                            By: {{assignment.teacher_name}}
                        </p>

                        <div class="assignment-meta">
                            📅 Due: {{assignment.due_date}}
                        </div>

                        <div class="assignment-actions">
                            <a href="{{ assignment.assignment.url }}" target="_blank" class="view-btn">
                                View Assignment PDF
                            </a>
                        </div>

                        <form action="{% url 'submit_assignment' assignment.id %}" class="submit-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input name="pdf" type="file" accept="application/pdf" required>
                            <button type="submit">Submit Assignment</button>
                        </form>

                    </div>

            </div>
            {% else %}
            <p class="description">
                No Pending Assignments...
            </p>
            {% endif %}
            {% endfor %}
        </section>

        <section class="submitted-section">
            <h2>✅ Submitted Assignments</h2>

            {% for assignment in assignments %}
            {% if assignment.id in submitted_assignments_id %}
            <div class="assignment-grid">

                <div class="assignment-card submitted-card">

                    <div class="assignment-top">
                        <h3>{{assignment.title}}</h3>
                        <span class="status submitted">Submitted</span>
                    </div>

                    <p class="description">
                        By: {{assignment.teacher_name}}
                    </p>

                    <div class="assignment-meta">
                        📅 Submitted on: 14 Feb 2026, 09:45 PM
                    </div>

                    <div class="assignment-actions">
                        <a href="{{assignment.assignment.url}}" target="_blank" class="view-btn">
                            View Assignment PDF
                        </a>
                    </div>

                    <div class="submitted-info">
                        ✔ PDF uploaded successfully
                    </div>

                </div>
                {% else %}
                <p class="description">
                    No Submitted Assignments..
                </p>
                {% endif %}
                {% endfor %}
            </div>
        </section>

    </div>

</body>

</html>